.nav {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}
.nav ul {
	justify-content: flex-end;
}
.ul {
	display: grid;
	list-style-type: none;
	gap: 0.75rem;
	grid-template-columns: repeat(3, 1fr);
}
